body{
  margin: 0;
  position: relative;
  font-family: "League Spartan", Arial;
  overflow: hidden;
}

html{
  margin: 0;
  overflow-x: hidden;
}

.effect-image1{
  position: absolute;
  width: 1000px;
  top: 0px;
  z-index: -1;
}

.effect-image2{
  position: absolute;
  width: 1000px;
  top: 0px;
  z-index: -1;
}

.effect-image3{
  position: absolute;
  width: 1000px;
  right: 0;
  bottom: 1000px;
}

@media (max-width:550px) {
  .effect-image3{
    right: -100px;
    bottom: 800px;
  }
}


